<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{{ title|default(sitename) }}{% endblock title %}</title>

    <!-- Meta -->
    <meta name="description" content="{{ title|default(sitename) }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Social -->
    {% if data.post %}
    <meta property="article:author" content="{ data.post.author }}" />
    <meta property="article:section" content="{{ data.post.categories[0] }}" />
    <meta property="article:published_time" content="{{ data.post._.publishedDate.format("yyyy-mm-dd") }}" />

    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ data.post.title|striptags }}"/>
    <meta property="og:description" content="{{ data.post.content.brief|striptags|escape }}"/>
    <meta property="og:site_name" content="{{ sitename}}" />
    <meta property="og:url" content="{{ siteurl }}/blog/post/{{ data.post.slug }}"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ data.post.title|striptags }}">
    <meta name="twitter:description" content="{{ data.post.content.brief|striptags|escape }}">
    <meta name="twitter:url" content="{{ siteurl }}/blog/post/{{ data.post.slug }}">
    {% elif locals.section %}
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:site_name" content="{{ sitename }}" />
    {% if locals.section == 'home' %}
    <meta property="og:url" content="{{ siteurl }}/"/>
    {% else %}
    <meta property="og:url" content="{{ siteurl }}/{{ locals.section }}"/>
    {% endif %}
    <meta property="og:image" content="{{ AUTHOR_AVATAR }}"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:url" content="{{ siteurl }}/{{ locals.section }}">
    <meta name="twitter:image" content="{{ AUTHOR_AVATAR }}">
    {% else %}
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ sitename }}"/>
    <meta property="og:description" content=""/>
    <meta property="og:site_name" content="{{ sitename }}" />
    <meta property="og:url" content="{{ siteurl }}"/>
    <meta property="og:image" content="{{ AUTHOR_AVATAR }}"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ sitename }}">
    <meta name="twitter:description" content="">
    <meta name="twitter:url" content="{{ siteurl }}">
    <meta name="twitter:image" content="{{ AUTHOR_AVATAR }}">
    {% endif %}

    <!-- Feed -->
    {% if FEED_ALL_ATOM %}
    <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    {% if DISQUS_SITENAME %}
    <link rel="alternate" type="application/rss+xml" href="http://{{ DISQUS_SITENAME }}.disqus.com/latest.rss" title="{{ SITENAME }} Comments RSS Feed">
    {% endif %}

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:regular,bold">
    <link rel="stylesheet" type="text/css" href="{{ siteurl }}/css/w3.css">
    <link rel="stylesheet" type="text/css" href="{{ siteurl }}/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ siteurl }}/css/jqcloud.css">
    <link rel="stylesheet" type="text/css" href="{{ siteurl }}/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ siteurl }}/css/pygments-highlight-github.css">
    {% if MINIMALXY_CUSTOM_CSS %}
    <link rel="stylesheet" type="text/css" href="{{ siteurl }}/{{ MINIMALXY_CUSTOM_CSS }}">
    {% endif %}

    <!-- Icon -->
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{ siteurl }}/js/jqcloud.min.js"></script>
  </head>

  <body>
    <div class="w3-row w3-card w3-white">
      <header id="header">
        {% if " " in author %}
        <a href="{{ siteurl }}" id="header-logo" title="Home">{{ author[0] + author[author.index(" ")+1] }}</a>
        {% else %}
        <a href="{{ siteurl }}" id="header-logo" title="Home">{{ author[0] }}</a>
        {% endif %}
        <nav id="header-menu">
          <ul>
            {% for link in navLinks %}
            <li{% {{ 'active' if link.key == section else '' }} %}><a href="{{ link.href }}">{{ link.label }}</a></li>
            {% endfor %}
						{% if user %}
							{% if user.canAccessKeystone %}
							<li><a href="/keystone">Open Keystone</a></li>
							{% endif %}
							<li><a href="/keystone/signout">Sign Out</a></li>
						{% else %}
							<li><a href="/keystone/signin">Sign In</a></li>
						{% endif %}
          </ul>
        </nav>
      </header>
    </div>

  	{# BODY #}
  	<div id="body">
  		{# NOTE:
  		   There is no .container wrapping class around body blocks to allow more flexibility in design.
  		   Remember to include it in your templates when you override the intro and content blocks! #}

  		{# The Intro block appears above flash messages (used for temporary information display) #}
  		{% block intro %}{% endblock %}

  		{# Flash messages allow you to display once-off status messages to users, e.g. form
  		   validation errors, success messages, etc. #}
  		{{ FM.flashMessages(messages) }}
      {% block content_title %}
      {% endblock %}

      {% block content %}
      {% endblock %}
		</div>

    <footer id="footer">
      <div id="footer-copyright" class="w3-center w3-small w3-text-grey w3-padding-48">
        <span>
          &copy;
          {% if MINIMALXY_START_YEAR and MINIMALXY_CURRENT_YEAR %}
          {{ MINIMALXY_START_YEAR }}{% if MINIMALXY_START_YEAR != MINIMALXY_CURRENT_YEAR %}&dash;{{ MINIMALXY_CURRENT_YEAR }}{% endif %}
          {% endif %}
          {{ author }}
          {% if FEED_ALL_ATOM %} | <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">Atom feed <i class="fa fa-rss" aria-hidden="true"></i></a>{% endif %}
        </span>
  			<p>Powered by <a href="http://keystonejs.com" target="_blank">KeystoneJS</a>
           and a Modified <a href="https://github.com/edlongman/MinimalXY" target="_blank">MinimalXY Template</a></p>
      </div>
    </footer>

    {% if GOOGLE_ANALYTICS %}
      {% include "ga.html" %}
    {% endif %}

    {% if PIWIK_URL and PIWIK_SITE_ID %}
      {% include "piwik.html" %}
    {% endif %}

  </body>
</html>
